{% extends 'base.html.twig' %}

{% block title %}Compte - Snowtricks{% endblock %}

{% block main %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if app.user.avatar is defined and app.user.avatar is not null %}
                                    <img src="{{ asset(app.user.avatar) }}" alt="avatar" class="rounded-circle" width="300" height="300">
                                {% else %}
                                    {% if app.user.gender == "male" %}
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle" width="300" height="300">
                                    {% elseif app.user.gender == "female" %}
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4.webp" alt="avatar" class="rounded-circle" width="300" height="300">
                                    {% elseif app.user.gender == "other" %}
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar" class="rounded-circle" width="300" height="300">
                                    {% endif %}
                                {% endif %}
                                <div class="mt-3">
                                    <h4>{{ app.user.firstname }} {{ app.user.lastname }}</h4>
                                    <p class="text-secondary mb-1">{{ app.user.bio }}</p>
                                    <p class="text-muted font-size-sm">{{ app.user.address }}</p>
                                    <a class="btn btn-outline-primary" href="{{ path('trick_new') }}">Ajouter Tricks</a>
                                    <a class="btn btn-outline-primary" href="{{ path('trick_show') }}">Voir mes Tricks</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nom</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.firstname }} {{ app.user.lastname }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.age }} ans
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.phone }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Genre</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.gender }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ app.user.address }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary" href="{{ path('account_edit') }}">Modifier</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
